apiVersion: v1
appVersion: "1.0"
description: A Helm chart for the Theme Park Ride Ops app1
name: app1
version: 0.1.0

replicaCount: 1

image:
  repository: your-docker-repo/app1
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: false
  annotations: {}
  pathType: ImplementationSpecific
  hosts:
    - host: chart-example.local
      paths:
        - /
  tls: [] 

resources: {}
  
nodeSelector: {}

tolerations: []

affinity: {}