- hosts: all
  become: yes
  tasks:
    - name: Install required packages
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - software-properties-common
        state: present

    - name: Add Docker GPG key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add Docker APT repository
      apt_repository:
        repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable
        state: present

    - name: Install Docker
      apt:
        name: docker-ce
        state: latest

    - name: Start and enable Docker service
      systemd:
        name: docker
        state: started
        enabled: yes

    - name: Install Kubernetes dependencies
      apt:
        name:
          - apt-transport-https
          - curl
        state: present

    - name: Add Kubernetes GPG key
      apt_key:
        url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
        state: present

    - name: Add Kubernetes APT repository
      apt_repository:
        repo: deb https://apt.kubernetes.io/ kubernetes-xenial main
        state: present

    - name: Install Kubernetes components
      apt:
        name:
          - kubelet
          - kubeadm
          - kubectl
        state: latest

    - name: Start and enable kubelet service
      systemd:
        name: kubelet
        state: started
        enabled: yes

    - name: Initialize Kubernetes cluster
      command: kubeadm init
      register: kubeadm_init
      when: inventory_hostname == groups['kube_master'][0]

    - name: Set up kubeconfig for the user
      command: "{{ item }}"
      with_items:
        - mkdir -p $HOME/.kube
        - cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
        - chown $(id -u):$(id -g) $HOME/.kube/config
      when: inventory_hostname == groups['kube_master'][0]

    - name: Install Helm
      command: curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash

    - name: Install ArgoCD
      command: kubectl create namespace argocd && kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml

    - name: Wait for ArgoCD server to be ready
      command: kubectl wait --for=condition=available --timeout=600s deployment/argocd-server -n argocd

    - name: Install additional tools or configurations as needed
      include_role:
        name: common

    - name: Deploy applications using Helm
      include_role:
        name: helm

    - name: Configure Kubernetes resources
      include_role:
        name: kubernetes

    - name: Configure ArgoCD applications
      include_role:
        name: argocd