/theme-park-ride-ops/theme-park-ride-ops/ansible/playbook.yml
---
- hosts: all
  become: yes
  vars_files:
    - ../.env
  tasks:
    - name: Install required packages
      apt:
        name:
          - docker.io
          - kubectl
          - helm
        state: present
        update_cache: yes

    - name: Start and enable Docker service
      service:
        name: docker
        state: started
        enabled: yes

    - name: Install k3s
      shell: |
        curl -sfL https://get.k3s.io | sh -
      args:
        creates: /usr/local/bin/k3s

    - name: Ensure k3s is running
      command: k3s kubectl get nodes
      register: k3s_status
      until: k3s_status.rc == 0
      retries: 5
      delay: 10

    - name: Configure kubectl
      command: |
        mkdir -p ~/.kube
        cp /etc/rancher/k3s/k3s.yaml ~/.kube/config
        sed -i 's/127.0.0.1/{{ ansible_host }}/' ~/.kube/config

    - name: Install ArgoCD
      command: |
        kubectl create namespace {{ ARGOCD_NAMESPACE }}
        kubectl apply -n {{ ARGOCD_NAMESPACE }} -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml

    - name: Wait for ArgoCD server to be ready
      command: kubectl get pods -n {{ ARGOCD_NAMESPACE }}
      register: argocd_status
      until: argocd_status.stdout.find('1/1') != -1
      retries: 10
      delay: 5

    - name: Install Traefik
      command: helm repo add traefik https://helm.traefik.io/traefik
      register: traefik_repo
      when: traefik_repo is failed

    - name: Deploy Traefik using Helm
      helm:
        name: traefik
        chart: traefik/traefik
        namespace: kube-system
        values:
          - service:
              enabled: true
              type: LoadBalancer

    - name: Create themepark namespace
      command: kubectl create namespace {{ THEMEPARK_NAMESPACE }}
      ignore_errors: yes

    - name: Deploy MariaDB
      command: helm install mariadb ./helm/charts/mariadb --namespace {{ THEMEPARK_NAMESPACE }} --values ./helm/values.yaml

    - name: Deploy application services
      command: helm install themepark ./helm --namespace {{ THEMEPARK_NAMESPACE }} --values ./helm/values.yaml
