monitoring/prometheus-values.yaml
global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'spring-boot-apps'
    kubernetes_sd_configs:
      - role: pod
    relabel_configs:
      - action: keep
        source_labels: [__meta_kubernetes_namespace]
        regex: themepark-app
      - action: labelmap
        regex: __meta_kubernetes_label_(.+)
      - action: replace
        source_labels: [__meta_kubernetes_pod_name]
        target_label: pod
      - action: replace
        source_labels: [__meta_kubernetes_service_name]
        target_label: service

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093

# Additional configuration can be added here as needed.