monitoring/grafana-values.yaml
apiVersion: v1
datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        url: http://prometheus:9090
        access: proxy
        isDefault: true
        jsonData:
          timeInterval: "10s"
        secureJsonData:
          basicAuthUser: ${DB_USER}
          basicAuthPassword: ${DB_PASS}
grafana:
  admin:
    existingSecret: grafana-admin
  service:
    enabled: true
    type: ClusterIP
    port: 3000
  persistence:
    enabled: true
    storageClassName: standard
    accessModes:
      - ReadWriteOnce
    size: 10Gi
  ingress:
    enabled: true
    pathType: Prefix
    paths:
      - /
    annotations:
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/rewrite-target: /
    hosts:
      - grafana.${DOMAIN}
    tls:
      - secretName: grafana-tls
        hosts:
          - grafana.${DOMAIN}