/theme-park-ride-ops/theme-park-ride-ops/ansible/roles/k8s/tasks/main.yml
- name: Install kubectl
  apt:
    name: kubectl
    state: present

- name: Install Helm
  shell: |
    curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash

- name: Install k3s
  shell: |
    curl -sfL https://get.k3s.io | sh -

- name: Ensure k3s is running
  command: kubectl get nodes
  register: k3s_status
  until: k3s_status.rc == 0
  retries: 5
  delay: 10

- name: Create Kubernetes namespace
  kubernetes.core.k8s:
    name: "{{ lookup('env', 'THEMEPARK_NAMESPACE') }}"
    state: present

- name: Deploy Traefik
  kubernetes.core.k8s:
    src: "{{ playbook_dir }}/../../k8s/traefik.yaml"
    state: present

- name: Deploy MariaDB PVC
  kubernetes.core.k8s:
    src: "{{ playbook_dir }}/../../k8s/mariadb-pvc.yaml"
    state: present

- name: Deploy application services
  kubernetes.core.k8s:
    src: "{{ playbook_dir }}/../../helm/templates/deployment.yaml"
    state: present

- name: Deploy application services service
  kubernetes.core.k8s:
    src: "{{ playbook_dir }}/../../helm/templates/service.yaml"
    state: present

- name: Deploy application ingress
  kubernetes.core.k8s:
    src: "{{ playbook_dir }}/../../helm/templates/ingress.yaml"
    state: present

- name: Create secrets for database
  kubernetes.core.k8s:
    src: "{{ playbook_dir }}/../../helm/templates/secret.yaml"
    state: present