/theme-park-ride-ops/theme-park-ride-ops/ansible/playbook.yml
---
- hosts: all
  become: true
  vars_files:
    - ../.env
  tasks:
    - name: Install required packages
      apt:
        name:
          - docker.io
          - kubectl
          - helm
          - curl
        state: present
        update_cache: yes

    - name: Start and enable Docker service
      service:
        name: docker
        state: started
        enabled: yes

    - name: Install k3s
      shell: |
        curl -sfL https://get.k3s.io | sh -
      args:
        creates: /usr/local/bin/k3s

    - name: Ensure kubectl is configured
      command: kubectl cluster-info
      register: kubectl_info
      until: kubectl_info is succeeded
      retries: 5
      delay: 5

    - name: Install ArgoCD
      command: |
        kubectl create namespace {{ ARGOCD_NAMESPACE }} || true
        kubectl apply -n {{ ARGOCD_NAMESPACE }} -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml

    - name: Wait for ArgoCD server to be ready
      command: kubectl wait --for=condition=available --timeout=60s deployment/argocd-server -n {{ ARGOCD_NAMESPACE }}

    - name: Configure k3s to use Traefik
      command: |
        kubectl apply -f https://raw.githubusercontent.com/traefik/traefik/master/docs/content/examples/k3s/traefik.yaml

    - name: Create themepark namespace
      command: kubectl create namespace {{ THEMEPARK_NAMESPACE }} || true

    - name: Deploy Prometheus and Grafana
      command: |
        helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
        helm repo update
        helm install prometheus prometheus-community/prometheus --namespace {{ THEMEPARK_NAMESPACE }} -f ../monitoring/prometheus-values.yaml

    - name: Deploy Grafana
      command: |
        helm install grafana grafana/grafana --namespace {{ THEMEPARK_NAMESPACE }} -f ../monitoring/grafana-values.yaml

    - name: Clean up old images
      command: docker image prune -f
      ignore_errors: yes